*, ::after, ::before{
  margin:0;
  box-sizing:border-box;
}

.body{
  background-color: #D98929;
}

.oso{
  width: 210px;
  height: 235px;
  border: 4px solid;
  border-radius: 50%;
  margin: 100px;
  
  position:relative;
  background-color: #C0782B;
  display: flex;
  justify-content: center;
  align-items: center;
}

.orejas_afuera{
  width:100px;
  height: 100px;
  background-color: #C0782B;
  border: 4px solid;
  border-radius: 50%;
  position:absolute;
  top: -7%;
  left:-15px;
  z-index:-1;
}

.oreja_derecha{
  width:60px;
  height: 60px;
  border: 4px solid;
  background-color: #E9A563;
  border-radius: 50%;
  position:absolute;
  top: 15px;
  right:20px;
  z-index:-1;
}

.oreja_afuera-r{
  left:initial;
  right:-20px;
}

.ojos{
  position:absolute;
  width: 24px;
  height: 35px;
  background-color: #382818;
  border-radius:50%;
  top:90px;
  left:50px;
}

.ojo-r{
  left:initial;
  right:50px;
}



.fondo_nariz{
  width: 100px;
  height: 80px;
  background-color: #EAA664;
  border-radius:50%;
  position:relative;
  top:50px;
}

.nariz{
  width: 30px;
  height: 20px;
  background-color: #322212;
  border-radius:50%;
  position:relative;
  top:20px;
  right:-35px;
}

.nariz::before{
  content:"";
  width:4px;
  height:20px;
  position:absolute;
  top:20px;
  left:13px;
  background-color: #322212;
}

.nariz::after{
  content:"";
  position:absolute;
  width:40px;
  height:15px;
  border:4px solid #322212;
  top:25px;
  left:-5px;
  border-radius:0 0 40px 40px;
  border-top: transparent;
}
